@font-face {
    font-family: "Roboto";
    src: local(Roboto), url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto), url(../fonts/Roboto-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto), url(../fonts/Roboto-Light.ttf);
    font-weight: 300;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    padding: 0;
    margin: 0;
}

header {
    margin-left: 15%;
    width: 85%;
    height: 110px;
    padding-right: 0;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.parte-superior-cabecalho {
    height: 25px;
    background-color: #000000;
    color: #fff;
}

.parte-superior-cabecalho a:first-child {
    color: #fff;
    text-decoration: none;
}

main {
    margin-top: 2rem;
}

.area-administrativa {
    border: 1px solid #D7D0D0;
    padding: 2rem 4rem;
}

.area-administrativa h2 {
    margin-bottom: 3rem;
    margin-top: -20px;
    font-size: 1.7rem;
}

.area-administrativa h3 {
    font-size: 1rem;
    color: #8B8585;
}

.logo {
    display: flex;
    align-items: center;
    gap: 40rem;
    padding: 0.5rem 1rem 0 1rem;
}
#pesquisa-header #pesquisa{
    width: 500px;
}
#pesquisa-header{
    display: flex;
    
} 
.logo h1 {
    font-weight: 200;
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 0.2rem;
}

.parte-inferior-formulario {
    margin-top: 2rem;
    justify-content: end;
    gap: 0.6rem;
    display: flex;

}
.titulo-principal{
    margin-top: 5.5rem;
}
.formulario{
    margin-top: 1rem;
}
.breadcrumb{
    margin-top: 0.2rem;
}
.breadcrumb >.breadcrumb-pagina{
    list-style: none;
    display: flex;
    gap: 0.5rem;
   
    padding: 0;
    margin: 0;
}

.item-breadcrumb{
    color: #5f5f5f;
}
.active, .cargo{
    font-weight: bold;
}

.botao {
    border-radius: 4px !important;
}

#botaoLimpar:hover,
#botaoLimpar:focus {
    background-color: transparent;
    color: #0d6efd;
}

#alerta-senha {
    display: none;
}

.mostrar-alerta {
    display: flex !important;
}
.habilitarDaltonismo {
    /* background-color: #A74F8B !important; */
    /* filter: invert(100%); */
    filter: grayscale(100%);
}

#togglePassword{
    cursor: pointer;
    font-size: 14px;
    color: #000000;
}
/*SIDEBAR*/
#sidebar{
    padding: 1.5rem 1rem;
    width: 15%;
    background-color: #f9f7f7;
    position: fixed;
    z-index: 4000;
    top: 0;
    height: 92.8%;
}
.conteudo-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.conteudo-sidebar img{
    width: 8.2em;
    
}
.links-sidebar{
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-top: 3rem;
}
.links-sidebar > li > a{
    text-decoration: none;
    color: #000;
    display: flex;
    gap: 1rem;
    font-size: 1.05rem;
    align-items: center;
}
.cabecalho-tabela{
    border-bottom: 2px solid #000;
}
.cabecalho-tabela > th:first-child{
    width: 10px;
}
   
.conteudo-sidebar div{
    width: 100%;
    padding: 0 1.4rem;
}
/*FOOTER*/
#rodape {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    background-color: #5776B0;
    width: 100%;
    position: absolute;
    /* top: 42.94em; */
    bottom: 0;
    padding: 0 6rem;
    z-index: 3000;

}

#rodape>h2 {
    margin-right: 0;
    color: #fff;
    font-size: 14px;
    margin-top: 0.9rem;
    text-align: center;
}

#rodape>h1 {
    color: #fff;
    margin-top: 0.6rem;
    font-weight: 600;
    font-size: 15px;
}
